Repository meshtastic/Meshtastic-Android, pull requests merged in 2025-08, with the labels that each got.

#2595 chore: Scheduled updates (Firmware, Hardware, Translations)
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values-et/strings.xml
Labels: l10n, automation, firmware, hardware

#2597 move label checker into same pipeline
  .github/workflows/pr_enforce_labels.yml
  .github/workflows/pull-request-target.yml
  .github/workflows/pull-request.yml
Labels: bugfix

#2591 refactor(bluetooth): exponential backoff for BLE reconnects
  app/src/main/java/com/geeksville/mesh/repository/radio/BluetoothInterface.kt
  app/src/main/java/com/geeksville/mesh/service/SafeBluetooth.kt
Labels: enhancement

#2599 chore: Scheduled updates (Firmware, Hardware, Translations)
  app/src/main/res/values-bg/strings.xml
  app/src/main/res/values-de/strings.xml
Labels: l10n, automation, firmware, hardware

#2592 feat(radioconfig): add clean node database screen
  app/src/main/java/com/geeksville/mesh/database/NodeRepository.kt
  app/src/main/java/com/geeksville/mesh/database/dao/NodeInfoDao.kt
  app/src/main/java/com/geeksville/mesh/database/entity/NodeEntity.kt
  app/src/main/java/com/geeksville/mesh/navigation/RadioConfigRoutes.kt
  app/src/main/java/com/geeksville/mesh/ui/radioconfig/CleanNodeDatabaseScreen.kt
  app/src/main/java/com/geeksville/mesh/ui/radioconfig/CleanNodeDatabaseViewModel.kt
  app/src/main/java/com/geeksville/mesh/ui/radioconfig/RadioConfig.kt
  app/src/main/res/values/strings.xml
Labels: enhancement

#2578 feat(analytics): Integrate Datadog for RUM and Logging
  .github/workflows/merge-queue.yml
  .github/workflows/pull-request.yml
  .github/workflows/release.yml
  .github/workflows/reusable-android-build.yml
  .gitignore
  app/build.gradle.kts
  app/src/fdroid/java/com/geeksville/mesh/MeshUtilApplication.kt
  app/src/fdroid/java/com/geeksville/mesh/android/GeeksvilleApplication.kt
  app/src/google/java/com/geeksville/mesh/MeshUtilApplication.kt
  app/src/google/java/com/geeksville/mesh/android/GeeksvilleApplication.kt
  app/src/main/java/com/geeksville/mesh/android/Logging.kt
  app/src/main/java/com/geeksville/mesh/model/UIState.kt
  app/src/main/java/com/geeksville/mesh/repository/api/DeviceHardwareRepository.kt
  app/src/main/java/com/geeksville/mesh/repository/api/FirmwareReleaseRepository.kt
  app/src/main/java/com/geeksville/mesh/ui/Main.kt
  build.gradle.kts
  gradle/libs.versions.toml
  secrets.defaults.properties
Labels: enhancement

#2608 apparently I took out the labeler
  .github/workflows/pull-request.yml
Labels: repo

#2607 Fix regression of deviceMetrics
  app/src/main/java/com/geeksville/mesh/database/MeshLogRepository.kt
Labels: bug, bugfix

#2612 chore: Scheduled updates (Firmware, Hardware, Translations)
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values-fi/strings.xml
Labels: l10n, automation, firmware, hardware

#2613 feat(datadog): datadog init tweaks
  app/src/fdroid/java/com/geeksville/mesh/android/GeeksvilleApplication.kt
  app/src/google/java/com/geeksville/mesh/android/GeeksvilleApplication.kt
  app/src/main/java/com/geeksville/mesh/ui/connections/Connections.kt
Labels: enhancement

#2622 docs: add information about spotless for code formatting
  CONTRIBUTING.md
Labels: documentation

#2625 Add Types to the templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: repo

#2635 chore(ci): remove job level env vars
  .github/workflows/release.yml
Labels: repo

#2634 2.6.33
  buildSrc/src/main/kotlin/Configs.kt
Labels: release

#2638 chore: Scheduled updates (Firmware, Hardware, Translations)
  app/src/main/assets/device_hardware.json
  app/src/main/res/values-fi/strings.xml
Labels: l10n, automation, firmware, hardware

#2641 feat(service): handle DeviceUIConfig and FileInfo packets
  app/src/main/java/com/geeksville/mesh/service/MeshService.kt
Labels: bugfix

#2647 chore: Scheduled updates (Firmware, Hardware, Translations)
  app/src/main/res/values-ru/strings.xml
Labels: l10n, automation, firmware, hardware

#2652 closes #2646: fix UI overlap on traceroute delete
  app/src/main/java/com/geeksville/mesh/ui/metrics/TracerouteLog.kt
Labels: bugfix

#2651 #2650 - make the catch all on the labeler less generic
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/labeler.yml
Labels: repo

#2657 docs: add AGENT.md
  AGENT.md
Labels: documentation, repo

#2644 feat(radioconfig): use current location for position config
  app/src/main/java/com/geeksville/mesh/ui/radioconfig/RadioConfigViewModel.kt
  app/src/main/java/com/geeksville/mesh/ui/radioconfig/components/PositionConfigItemList.kt
  app/src/main/res/values/strings.xml
Labels: enhancement

#2665 feat(deps): add Datadog session replay libraries
  app/src/google/java/com/geeksville/mesh/android/GeeksvilleApplication.kt
  gradle/libs.versions.toml
Labels: bugfix

#2666 fix(UI): update send and receive colors
  app/src/main/java/com/geeksville/mesh/ui/Main.kt
  app/src/main/java/com/geeksville/mesh/ui/common/theme/CustomColors.kt
Labels: enhancement

#2671 feat(radioconfig): Remove light sleep duration setting
  app/src/main/java/com/geeksville/mesh/ui/radioconfig/components/PowerConfigItemList.kt
Labels: enhancement

#2672 fix(regression): replace lost ringtone and canned message handling
  app/src/main/java/com/geeksville/mesh/service/MeshService.kt
  app/src/main/res/values/strings.xml
Labels: bugfix

#2678 refactor(service): improve state management and concurrency in MeshSe…
  app/src/main/java/com/geeksville/mesh/service/MeshService.kt
Labels: bugfix

#2679 chore: Only run dependency submission workflow for the main repository
  .github/workflows/dependency-submission.yml
Labels: ci, automation

#2724 chore: configure Crowdin integration
  .github/workflows/pull-request.yml
  crowdin.yml
Labels: l10n, ci, repo, automation

#2725 New Crowdin updates
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values-fr/strings.xml
Labels: l10n, automation

#2730 chore(ci): remove custom commit message for Crowdin updates
  crowdin.yml
Labels: l10n, ci, automation

#2731 chore(ci): remove custom commit message for Crowdin updates
  .github/workflows/pull-request.yml
Labels: ci, automation

#2736 add new crowdIn branch to the bypass list
  .github/workflows/pull-request.yml
Labels: repo

#2737 Fix/debug panel - remove redundant saveOne
  app/src/main/java/com/geeksville/mesh/ui/debug/Debug.kt
Labels: bugfix

#2743 Decouple mesh service bind from `MainActivity`
  app/src/main/java/com/geeksville/mesh/MainActivity.kt
  app/src/main/java/com/geeksville/mesh/MeshServiceClient.kt
Labels: enhancement

#2779 New Crowdin updates
  app/src/main/res/values-bg/strings.xml
Labels: l10n, automation

#2783 chore: Scheduled updates (Firmware, Hardware)
  app/src/main/assets/firmware_releases.json
Labels: automation, firmware, hardware

#2785 New Crowdin updates
  app/src/main/res/values-fr/strings.xml
Labels: l10n, automation

#2787 chore: Scheduled updates (Firmware, Hardware)
  app/src/main/assets/firmware_releases.json
Labels: automation, firmware, hardware

#2799 Don't change nav graph start destination
  app/src/main/java/com/geeksville/mesh/navigation/NavGraph.kt
Labels: bugfix

#2801 Add modern battery info component
  app/src/main/java/com/geeksville/mesh/ui/common/components/MaterialBatteryInfo.kt
  app/src/main/java/com/geeksville/mesh/ui/common/icons/Battery.kt
Labels: enhancement

#2797 chore: Scheduled updates (Firmware, Hardware)
  app/src/main/assets/firmware_releases.json
Labels: automation, firmware, hardware

#2807 Clean up Connections UI, fix some friction with Bluetooth
  app/src/main/java/com/geeksville/mesh/model/BTScanModel.kt
  app/src/main/java/com/geeksville/mesh/ui/connections/Connections.kt
  app/src/main/java/com/geeksville/mesh/ui/connections/components/BLEDevices.kt
  app/src/main/java/com/geeksville/mesh/ui/connections/components/CurrentlyConnectedCard.kt
  app/src/main/java/com/geeksville/mesh/ui/connections/components/DeviceListItem.kt
  app/src/main/java/com/geeksville/mesh/ui/connections/components/EmptyStateContent.kt
  app/src/main/java/com/geeksville/mesh/ui/connections/components/NetworkDevices.kt
  app/src/main/java/com/geeksville/mesh/ui/connections/components/TitledCard.kt
  app/src/main/java/com/geeksville/mesh/ui/connections/components/UsbDevices.kt
  app/src/main/res/values/strings.xml
Labels: enhancement, bugfix

#2817 New Crowdin updates
  app/src/main/res/values-ar/strings.xml
  app/src/main/res/values-b+sr+Latn/strings.xml
  app/src/main/res/values-bg/strings.xml
  app/src/main/res/values-ca/strings.xml
  app/src/main/res/values-cs/strings.xml
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values-el/strings.xml
  app/src/main/res/values-es/strings.xml
  app/src/main/res/values-et/strings.xml
  app/src/main/res/values-fi/strings.xml
  app/src/main/res/values-fr-rHT/strings.xml
  app/src/main/res/values-fr/strings.xml
  app/src/main/res/values-ga/strings.xml
  app/src/main/res/values-gl/strings.xml
  app/src/main/res/values-hr/strings.xml
  app/src/main/res/values-hu/strings.xml
  app/src/main/res/values-is/strings.xml
  app/src/main/res/values-it/strings.xml
  app/src/main/res/values-iw/strings.xml
  app/src/main/res/values-ja/strings.xml
  app/src/main/res/values-ko/strings.xml
  app/src/main/res/values-lt/strings.xml
  app/src/main/res/values-nb/strings.xml
  app/src/main/res/values-nl/strings.xml
  app/src/main/res/values-pl/strings.xml
  app/src/main/res/values-pt-rBR/strings.xml
  app/src/main/res/values-pt/strings.xml
  app/src/main/res/values-ro/strings.xml
  app/src/main/res/values-ru/strings.xml
  app/src/main/res/values-sk/strings.xml
  app/src/main/res/values-sl/strings.xml
  app/src/main/res/values-sq/strings.xml
  app/src/main/res/values-sr/strings.xml
  app/src/main/res/values-sv/strings.xml
  app/src/main/res/values-tr/strings.xml
  app/src/main/res/values-uk/strings.xml
  app/src/main/res/values-zh-rCN/strings.xml
  app/src/main/res/values-zh-rTW/strings.xml
Labels: l10n, automation

#2819 New Crowdin updates
  app/src/main/res/values-fi/strings.xml
Labels: l10n, automation

#2824 New Crowdin updates
  app/src/main/res/values-ar/strings.xml
  app/src/main/res/values-b+sr+Latn/strings.xml
  app/src/main/res/values-cs/strings.xml
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values-el/strings.xml
  app/src/main/res/values-es/strings.xml
  app/src/main/res/values-et/strings.xml
  app/src/main/res/values-fi/strings.xml
  app/src/main/res/values-fr/strings.xml
  app/src/main/res/values-hu/strings.xml
  app/src/main/res/values-it/strings.xml
  app/src/main/res/values-iw/strings.xml
  app/src/main/res/values-ja/strings.xml
  app/src/main/res/values-ko/strings.xml
  app/src/main/res/values-nl/strings.xml
  app/src/main/res/values-pl/strings.xml
  app/src/main/res/values-pt-rBR/strings.xml
  app/src/main/res/values-pt/strings.xml
  app/src/main/res/values-ru/strings.xml
  app/src/main/res/values-sk/strings.xml
  app/src/main/res/values-sq/strings.xml
  app/src/main/res/values-sr/strings.xml
  app/src/main/res/values-sv/strings.xml
  app/src/main/res/values-tr/strings.xml
  app/src/main/res/values-uk/strings.xml
  app/src/main/res/values-zh-rCN/strings.xml
  app/src/main/res/values-zh-rTW/strings.xml
Labels: l10n, automation

#2827 feat(map): add support for GeoJSON map layers
  app/src/google/java/com/geeksville/mesh/ui/map/MapView.kt
  app/src/google/java/com/geeksville/mesh/ui/map/MapViewModel.kt
Labels: enhancement

#2813 `MeshService`: extract basic packet handling
  app/src/main/java/com/geeksville/mesh/service/MeshService.kt
  app/src/main/java/com/geeksville/mesh/service/PacketHandler.kt
Labels: enhancement

#2829 New Crowdin updates
  app/src/main/res/values-ca/strings.xml
Labels: l10n, automation

#2828 fix(contact-import): streamline shared contact handling
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/geeksville/mesh/model/UIState.kt
  app/src/main/java/com/geeksville/mesh/ui/sharing/ContactSharing.kt
Labels: bugfix

#2697 2.6.35
  buildSrc/src/main/kotlin/Configs.kt
Labels: release, ch_Obtanium, ch_Testing

#2835 feat(ui): display app version in connections screen
  app/src/main/java/com/geeksville/mesh/MainActivity.kt
  app/src/main/java/com/geeksville/mesh/ui/common/components/MainAppBar.kt
  app/src/main/java/com/geeksville/mesh/ui/connections/Connections.kt
Labels: enhancement, ui

#2836 feat(logging): Remove redundant Report Bug button and related functionality
  app/src/main/java/com/geeksville/mesh/android/Logging.kt
  app/src/main/java/com/geeksville/mesh/ui/connections/Connections.kt
Labels: enhancement, ui

#2838 ci(release): update release workflow to tag based versioning
  .github/workflows/release.yml
  app/build.gradle.kts
  app/src/main/java/com/geeksville/mesh/repository/radio/MockInterface.kt
  buildSrc/src/main/kotlin/Configs.kt
Labels: enhancement, ci

#2850 refactor(connections): use collectAsStateWithLifecycle for UI state
  app/src/main/java/com/geeksville/mesh/ui/connections/Connections.kt
Labels: bugfix

#2854 New Crowdin updates
  app/src/main/res/values-fr/strings.xml
Labels: l10n, automation

#2858 build: centralize repository declarations in settings.gradle.kts
  app/build.gradle.kts
  build.gradle.kts
  gradle/libs.versions.toml
  settings.gradle.kts
Labels: dependencies, bugfix

#2859 refactor: clean up deprecations using recommendations
  app/src/main/java/com/geeksville/mesh/repository/radio/StreamInterface.kt
  app/src/main/java/com/geeksville/mesh/ui/Main.kt
  app/src/main/java/com/geeksville/mesh/ui/common/components/IndoorAirQuality.kt
  app/src/main/java/com/geeksville/mesh/ui/intro/NotificationsScreen.kt
  app/src/main/java/com/geeksville/mesh/ui/message/Message.kt
  app/src/main/java/com/geeksville/mesh/ui/node/components/NodeStatusIcons.kt
  app/src/main/java/com/geeksville/mesh/ui/settings/radio/components/AudioConfigItemList.kt
  app/src/main/java/com/geeksville/mesh/ui/settings/radio/components/PacketResponseStateDialog.kt
Labels: ui, bugfix

#2861 fix(release): release notes path
  .github/workflows/release.yml
Labels: ci, bugfix

#2862 fix(ci): release status condition in workflow
  .github/workflows/release.yml
Labels: ci, bugfix

#2867 fix(ci): releasenotes path?
  .github/workflows/release.yml
Labels: ci, bugfix

#2870 fix(release): use correct GitHub release URL for Play Store whatsnew
  .github/workflows/release.yml
Labels: documentation, ci, bugfix

#2874 New Crowdin updates
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values-fr/strings.xml
Labels: l10n, automation

#2883 chore: Scheduled updates (Firmware, Hardware)
  app/src/main/assets/device_hardware.json
Labels: automation, firmware, hardware

#2886 #2711 move map controls up
  app/src/google/java/com/geeksville/mesh/ui/map/MapView.kt
Labels: bugfix

#2891 2712 add format types note to custom layers
  app/src/google/java/com/geeksville/mesh/ui/map/components/CustomMapLayersSheet.kt
  app/src/main/res/values/strings.xml
Labels: bugfix

#2897 chore: Scheduled updates (Firmware, Hardware)
  app/src/main/assets/firmware_releases.json
Labels: automation, firmware, hardware

#2902 New Crowdin updates
  app/src/main/res/values-de/strings.xml
Labels: l10n, automation

#2903 More migration to top-level Settings
  app/src/main/java/com/geeksville/mesh/MainActivity.kt
  app/src/main/java/com/geeksville/mesh/navigation/SettingsRoutes.kt
  app/src/main/java/com/geeksville/mesh/ui/Main.kt
  app/src/main/java/com/geeksville/mesh/ui/common/components/MainAppBar.kt
  app/src/main/java/com/geeksville/mesh/ui/settings/SettingsScreen.kt
  app/src/main/java/com/geeksville/mesh/ui/settings/radio/RadioConfig.kt
  app/src/main/res/values/strings.xml
Labels: enhancement, bugfix

#2925 Fix #2906 - remove Lora.ignore_incoming
  app/src/main/java/com/geeksville/mesh/ui/common/components/EditListPreference.kt
  app/src/main/java/com/geeksville/mesh/ui/settings/radio/components/LoRaConfigItemList.kt
Labels: bugfix

#2927 Fix #2918 crash on hw model
  app/src/main/java/com/geeksville/mesh/model/MetricsViewModel.kt
  app/src/main/java/com/geeksville/mesh/model/UIState.kt
  app/src/main/java/com/geeksville/mesh/util/HardwareModelExtensions.kt
Labels: bugfix

#2929 New Crowdin updates
  app/src/main/res/values-zh-rTW/strings.xml
Labels: l10n, automation
