Repository meshtastic/Meshtastic-Android, pull requests merged in 2025-07, with the labels that each got.

#2354 chore (deps): Update Gradle wrapper to 8.14.3
  gradle/wrapper/gradle-wrapper.properties
Labels: dependencies

#2361 refactor(ci): Consolidate GitHub Actions workflows
  .github/workflows/crowdin-download.yml
  .github/workflows/crowdin-upload-sources.yml
  .github/workflows/merge-queue.yml
  .github/workflows/pull-request.yml
  .github/workflows/reusable-android-build.yml
  .github/workflows/reusable-android-test.yml
  .github/workflows/scheduled-updates.yml
  .github/workflows/update-firmware-releases-list.yml
  .github/workflows/update-hardware-list.yml
  settings.gradle.kts
Labels: ci

#2378 chore: Scheduled updates (Firmware, Hardware, Translations)
  app/src/main/res/values-fr/strings.xml
  mesh_service_example/src/main/res/values-fr/strings.xml
Labels: l10n, automation, firmware, hardware

#2379 chore: Scheduled updates (Firmware, Hardware, Translations)
  app/src/main/res/values-fr/strings.xml
Labels: l10n, automation, firmware, hardware

#2386 chore: Scheduled updates (Firmware, Hardware, Translations)
  app/src/main/res/values-bg/strings.xml
Labels: l10n, automation, firmware, hardware

#2390 chore: Scheduled updates (Firmware, Hardware, Translations)
  app/src/main/res/values-fr/strings.xml
Labels: l10n, automation, firmware, hardware

#2391 chore: Scheduled updates (Firmware, Hardware, Translations)
  app/src/main/res/values-fi/strings.xml
Labels: l10n, automation, firmware, hardware

#2406 chore: Scheduled updates (Firmware, Hardware, Translations)
  app/src/main/res/values-es/strings.xml
  mesh_service_example/src/main/res/values-es/strings.xml
  mesh_service_example/src/main/res/values-fr/strings.xml
Labels: l10n, automation, firmware, hardware

#2409 chore: Scheduled updates (Firmware, Hardware, Translations)
  app/src/main/assets/firmware_releases.json
  app/src/main/res/values-bg/strings.xml
Labels: l10n, automation, firmware, hardware

#2418 chore: Scheduled updates (Firmware, Hardware, Translations)
  app/src/main/res/values-pl/strings.xml
Labels: l10n, automation, firmware, hardware

#2425 chore: Scheduled updates (Firmware, Hardware, Translations)
  app/src/main/res/values-es/strings.xml
  app/src/main/res/values-fi/strings.xml
Labels: l10n, automation, firmware, hardware

#2428 chore: Scheduled updates (Firmware, Hardware, Translations)
  app/src/main/res/values-bg/strings.xml
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values-es/strings.xml
  app/src/main/res/values-zh-rCN/strings.xml
  app/src/main/res/values-zh-rTW/strings.xml
  mesh_service_example/src/main/res/values-es/strings.xml
  mesh_service_example/src/main/res/values-zh-rTW/strings.xml
Labels: l10n, automation, firmware, hardware

#2435 chore: Scheduled updates (Firmware, Hardware, Translations)
  app/src/main/res/values-bg/strings.xml
Labels: l10n, automation, firmware, hardware

#2445 chore: Scheduled updates (Firmware, Hardware, Translations)
  app/src/main/res/values-bg/strings.xml
Labels: l10n, automation, firmware, hardware

#2452 chore: Scheduled updates (Firmware, Hardware, Translations)
  app/src/main/res/values-ar/strings.xml
  app/src/main/res/values-b+sr+Latn/strings.xml
  app/src/main/res/values-bg/strings.xml
  app/src/main/res/values-ca/strings.xml
  app/src/main/res/values-cs/strings.xml
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values-el/strings.xml
  app/src/main/res/values-es/strings.xml
  app/src/main/res/values-et/strings.xml
  app/src/main/res/values-fi/strings.xml
  app/src/main/res/values-fr-rHT/strings.xml
  app/src/main/res/values-fr/strings.xml
  app/src/main/res/values-ga/strings.xml
  app/src/main/res/values-gl/strings.xml
  app/src/main/res/values-hr/strings.xml
  app/src/main/res/values-hu/strings.xml
  app/src/main/res/values-is/strings.xml
  app/src/main/res/values-it/strings.xml
  app/src/main/res/values-iw/strings.xml
  app/src/main/res/values-ja/strings.xml
  app/src/main/res/values-ko/strings.xml
  app/src/main/res/values-lt/strings.xml
  app/src/main/res/values-nb/strings.xml
  app/src/main/res/values-nl/strings.xml
  app/src/main/res/values-pl/strings.xml
  app/src/main/res/values-pt-rBR/strings.xml
  app/src/main/res/values-pt/strings.xml
  app/src/main/res/values-ro/strings.xml
  app/src/main/res/values-ru/strings.xml
  app/src/main/res/values-sk/strings.xml
  app/src/main/res/values-sl/strings.xml
  app/src/main/res/values-sq/strings.xml
  app/src/main/res/values-sr/strings.xml
  app/src/main/res/values-sv/strings.xml
  app/src/main/res/values-tr/strings.xml
  app/src/main/res/values-uk/strings.xml
  app/src/main/res/values-zh-rCN/strings.xml
  app/src/main/res/values-zh-rTW/strings.xml
Labels: l10n, automation, firmware, hardware

#2464 chore: Scheduled updates (Firmware, Hardware, Translations)
  app/src/main/res/values-ar/strings.xml
  app/src/main/res/values-b+sr+Latn/strings.xml
  app/src/main/res/values-bg/strings.xml
  app/src/main/res/values-ca/strings.xml
  app/src/main/res/values-cs/strings.xml
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values-el/strings.xml
  app/src/main/res/values-es/strings.xml
  app/src/main/res/values-et/strings.xml
  app/src/main/res/values-fi/strings.xml
  app/src/main/res/values-fr-rHT/strings.xml
  app/src/main/res/values-fr/strings.xml
  app/src/main/res/values-ga/strings.xml
  app/src/main/res/values-gl/strings.xml
  app/src/main/res/values-hr/strings.xml
  app/src/main/res/values-hu/strings.xml
  app/src/main/res/values-is/strings.xml
  app/src/main/res/values-it/strings.xml
  app/src/main/res/values-iw/strings.xml
  app/src/main/res/values-ja/strings.xml
  app/src/main/res/values-ko/strings.xml
  app/src/main/res/values-lt/strings.xml
  app/src/main/res/values-nb/strings.xml
  app/src/main/res/values-nl/strings.xml
  app/src/main/res/values-pl/strings.xml
  app/src/main/res/values-pt-rBR/strings.xml
  app/src/main/res/values-pt/strings.xml
  app/src/main/res/values-ro/strings.xml
  app/src/main/res/values-ru/strings.xml
  app/src/main/res/values-sk/strings.xml
  app/src/main/res/values-sl/strings.xml
  app/src/main/res/values-sq/strings.xml
  app/src/main/res/values-sr/strings.xml
  app/src/main/res/values-sv/strings.xml
  app/src/main/res/values-tr/strings.xml
  app/src/main/res/values-uk/strings.xml
  app/src/main/res/values-zh-rCN/strings.xml
  app/src/main/res/values-zh-rTW/strings.xml
Labels: l10n, automation, firmware, hardware

#2478 chore: Scheduled updates (Firmware, Hardware, Translations)
  app/src/main/res/values-et/strings.xml
Labels: l10n, automation, firmware, hardware

#2494 chore: Scheduled updates (Firmware, Hardware, Translations)
  app/src/main/res/values-bg/strings.xml
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values-fi/strings.xml
  app/src/main/res/values-fr/strings.xml
  app/src/main/res/values-it/strings.xml
  app/src/main/res/values-ko/strings.xml
  app/src/main/res/values-sv/strings.xml
Labels: l10n, automation, firmware, hardware

#2497 chore: Scheduled updates (Firmware, Hardware, Translations)
  app/src/main/res/values-et/strings.xml
  app/src/main/res/values-fi/strings.xml
  app/src/main/res/values-pt-rBR/strings.xml
  mesh_service_example/src/main/res/values-pt-rBR/strings.xml
Labels: l10n, automation, firmware, hardware

#2522 chore: Scheduled updates (Firmware, Hardware, Translations)
  app/src/main/res/values-zh-rCN/strings.xml
Labels: l10n, automation, firmware, hardware

#2527 chore: Scheduled updates (Firmware, Hardware, Translations)
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values-fi/strings.xml
Labels: l10n, automation, firmware, hardware

#2537 chore: Scheduled updates (Firmware, Hardware, Translations)
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values-fi/strings.xml
  app/src/main/res/values-pt-rBR/strings.xml
Labels: l10n, automation, firmware, hardware

#2543 chore: Scheduled updates (Firmware, Hardware, Translations)
  app/src/main/res/values-bg/strings.xml
  app/src/main/res/values-es/strings.xml
Labels: l10n, automation, firmware, hardware

#2550 chore: Scheduled updates (Firmware, Hardware, Translations)
  app/src/main/res/values-b+sr+Latn/strings.xml
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values-fi/strings.xml
  app/src/main/res/values-sr/strings.xml
Labels: l10n, automation, firmware, hardware

#2564 Release notes - add automation (and get it out of the main block)
  .github/release.yml
Labels: repo

#2562 chore: Scheduled updates (Firmware, Hardware, Translations)
  app/src/main/res/values-de/strings.xml
Labels: l10n, automation, firmware, hardware

#2572 fix/2542 pair up the power metric icons
  app/src/main/java/com/geeksville/mesh/ui/node/NodeDetail.kt
Labels: bug

#2573 fix(metrics): correct load progress calculation and user string
  app/src/main/java/com/geeksville/mesh/ui/metrics/HostMetricsLog.kt
  app/src/main/res/values/strings.xml
Labels: bug

#2576 chore: Scheduled updates (Firmware, Hardware, Translations)
  app/src/main/res/values-b+sr+Latn/strings.xml
  app/src/main/res/values-bg/strings.xml
  app/src/main/res/values-ca/strings.xml
  app/src/main/res/values-cs/strings.xml
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values-el/strings.xml
  app/src/main/res/values-es/strings.xml
  app/src/main/res/values-et/strings.xml
  app/src/main/res/values-fi/strings.xml
  app/src/main/res/values-fr-rHT/strings.xml
  app/src/main/res/values-fr/strings.xml
  app/src/main/res/values-ga/strings.xml
  app/src/main/res/values-gl/strings.xml
  app/src/main/res/values-hr/strings.xml
  app/src/main/res/values-hu/strings.xml
  app/src/main/res/values-is/strings.xml
  app/src/main/res/values-it/strings.xml
  app/src/main/res/values-iw/strings.xml
  app/src/main/res/values-ja/strings.xml
  app/src/main/res/values-ko/strings.xml
  app/src/main/res/values-lt/strings.xml
  app/src/main/res/values-nb/strings.xml
  app/src/main/res/values-nl/strings.xml
  app/src/main/res/values-pl/strings.xml
  app/src/main/res/values-pt-rBR/strings.xml
  app/src/main/res/values-pt/strings.xml
  app/src/main/res/values-ro/strings.xml
  app/src/main/res/values-ru/strings.xml
  app/src/main/res/values-sk/strings.xml
  app/src/main/res/values-sl/strings.xml
  app/src/main/res/values-sq/strings.xml
  app/src/main/res/values-sr/strings.xml
  app/src/main/res/values-sv/strings.xml
  app/src/main/res/values-tr/strings.xml
  app/src/main/res/values-uk/strings.xml
  app/src/main/res/values-zh-rCN/strings.xml
  app/src/main/res/values-zh-rTW/strings.xml
Labels: l10n, automation, firmware, hardware

#2556 Fix/2523 redundant soil metrics
  app/src/main/java/com/geeksville/mesh/NodeInfo.kt
  app/src/main/java/com/geeksville/mesh/database/Converters.kt
  app/src/main/java/com/geeksville/mesh/database/MeshLogRepository.kt
  app/src/main/java/com/geeksville/mesh/database/entity/NodeEntity.kt
  app/src/main/java/com/geeksville/mesh/model/EnvironmentMetricsState.kt
  app/src/main/java/com/geeksville/mesh/model/MetricsViewModel.kt
  app/src/main/java/com/geeksville/mesh/ui/common/components/IndoorAirQuality.kt
  app/src/main/java/com/geeksville/mesh/ui/common/theme/CustomColors.kt
  app/src/main/java/com/geeksville/mesh/ui/debug/Debug.kt
  app/src/main/java/com/geeksville/mesh/ui/metrics/CommonCharts.kt
  app/src/main/java/com/geeksville/mesh/ui/metrics/DeviceMetrics.kt
  app/src/main/java/com/geeksville/mesh/ui/metrics/EnvironmentCharts.kt
  app/src/main/java/com/geeksville/mesh/ui/metrics/EnvironmentMetrics.kt
  app/src/main/java/com/geeksville/mesh/ui/metrics/PaxMetrics.kt
  app/src/main/java/com/geeksville/mesh/ui/metrics/PowerMetrics.kt
  app/src/main/java/com/geeksville/mesh/ui/metrics/SignalMetrics.kt
Labels: bug

#2588 chore: Scheduled updates (Firmware, Hardware, Translations)
  app/src/main/res/values-tr/strings.xml
Labels: l10n, automation, firmware, hardware

#2589 chore: Scheduled updates (Firmware, Hardware, Translations)
  app/src/main/res/values-tr/strings.xml
Labels: l10n, automation, firmware, hardware

#2587 Feat/2586 pr labeler
  .github/labeler.yml
  .github/release.yml
  .github/workflows/pr_enforce_labels.yml
  .github/workflows/pull-request-target.yml
  .github/workflows/pull-request.yml
  CONTRIBUTING.md
Labels: enhancement
