Repository meshtastic/Meshtastic-Android, pull requests merged in 2025-09, with the labels that each got.

#2937 New Crowdin updates
  app/src/main/res/values-bg-rBG/strings.xml
Labels: l10n, automation

#2940 chore: Scheduled updates (Firmware, Hardware)
  app/src/main/assets/firmware_releases.json
Labels: automation, firmware, hardware

#2948 Fix Bluetooth reconnection logic
  app/src/main/java/com/geeksville/mesh/service/SafeBluetooth.kt
Labels: bugfix

#2949 fix(ui): Prevent FAB from obscuring NodeScreen content
  app/src/main/java/com/geeksville/mesh/ui/node/NodeScreen.kt
Labels: bugfix

#2954 Make Nodes screen the root of the nav graph
  app/src/main/java/com/geeksville/mesh/navigation/NavGraph.kt
Labels: ui, bugfix

#2957 chore: Scheduled updates (Firmware, Hardware)
  app/src/main/assets/firmware_releases.json
Labels: automation, firmware, hardware

#2960 fix: Set 'google' as default product flavor
  app/build.gradle.kts
Labels: bugfix

#2959 New Crowdin updates
  app/src/main/res/values-ar-rSA/strings.xml
  app/src/main/res/values-b+sr+Latn/strings.xml
  app/src/main/res/values-bg-rBG/strings.xml
  app/src/main/res/values-ca-rES/strings.xml
  app/src/main/res/values-cs-rCZ/strings.xml
  app/src/main/res/values-de-rDE/strings.xml
  app/src/main/res/values-el-rGR/strings.xml
  app/src/main/res/values-es-rES/strings.xml
  app/src/main/res/values-et-rEE/strings.xml
  app/src/main/res/values-fi-rFI/strings.xml
  app/src/main/res/values-fr-rFR/strings.xml
  app/src/main/res/values-ga-rIE/strings.xml
  app/src/main/res/values-gl-rES/strings.xml
  app/src/main/res/values-hr-rHR/strings.xml
  app/src/main/res/values-ht-rHT/strings.xml
  app/src/main/res/values-hu-rHU/strings.xml
  app/src/main/res/values-is-rIS/strings.xml
  app/src/main/res/values-it-rIT/strings.xml
  app/src/main/res/values-iw-rIL/strings.xml
  app/src/main/res/values-ja-rJP/strings.xml
  app/src/main/res/values-ko-rKR/strings.xml
  app/src/main/res/values-lt-rLT/strings.xml
  app/src/main/res/values-nl-rNL/strings.xml
  app/src/main/res/values-no-rNO/strings.xml
  app/src/main/res/values-pl-rPL/strings.xml
  app/src/main/res/values-pt-rBR/strings.xml
  app/src/main/res/values-pt-rPT/strings.xml
  app/src/main/res/values-ro-rRO/strings.xml
  app/src/main/res/values-ru-rRU/strings.xml
  app/src/main/res/values-sk-rSK/strings.xml
  app/src/main/res/values-sl-rSI/strings.xml
  app/src/main/res/values-sq-rAL/strings.xml
  app/src/main/res/values-srp/strings.xml
  app/src/main/res/values-sv-rSE/strings.xml
  app/src/main/res/values-tr-rTR/strings.xml
  app/src/main/res/values-uk-rUA/strings.xml
  app/src/main/res/values-zh-rCN/strings.xml
  app/src/main/res/values-zh-rTW/strings.xml
Labels: l10n, automation

#2965 Componentize traceroute button
  app/src/main/java/com/geeksville/mesh/ui/node/NodeDetail.kt
  app/src/main/java/com/geeksville/mesh/ui/node/components/TracerouteButton.kt
  app/src/main/java/com/geeksville/mesh/ui/settings/components/SettingsItem.kt
Labels: enhancement, ui

#2969 Align syle of admin settings
  app/src/main/java/com/geeksville/mesh/navigation/NavGraph.kt
  app/src/main/java/com/geeksville/mesh/ui/settings/components/SettingsItem.kt
  app/src/main/java/com/geeksville/mesh/ui/settings/radio/RadioConfig.kt
  app/src/main/java/com/geeksville/mesh/ui/settings/radio/components/WarningDialog.kt
Labels: ui

#2967 feat(theme): add expressive motion to theme
  app/src/main/java/com/geeksville/mesh/ui/common/theme/Theme.kt
Labels: enhancement

#2970 fix(service): set node time after config completion
  app/src/main/java/com/geeksville/mesh/service/MeshService.kt
Labels: bugfix

#2973 refactor(map): fix scalebar and compass
  app/src/google/java/com/geeksville/mesh/ui/map/MapView.kt
  app/src/google/java/com/geeksville/mesh/ui/map/MapViewModel.kt
  app/src/google/java/com/geeksville/mesh/ui/map/components/MapButton.kt
  app/src/google/java/com/geeksville/mesh/ui/map/components/MapControlsOverlay.kt
Labels: bugfix

#2979 Fix/2640 rangetest hops
  app/src/main/java/com/geeksville/mesh/service/MeshService.kt
Labels: bugfix

#2983 Migrate App Intro to Navigation 3
  app/build.gradle.kts
  app/src/main/java/com/geeksville/mesh/ui/intro/AppIntroductionScreen.kt
  app/src/main/java/com/geeksville/mesh/ui/intro/IntroRoute.kt
  gradle/libs.versions.toml
Labels: enhancement, ui

#2985 Move remaining 3-dot menu items to Settings
  app/src/main/java/com/geeksville/mesh/MainActivity.kt
  app/src/main/java/com/geeksville/mesh/model/UIState.kt
  app/src/main/java/com/geeksville/mesh/ui/Main.kt
  app/src/main/java/com/geeksville/mesh/ui/common/components/MainAppBar.kt
  app/src/main/java/com/geeksville/mesh/ui/connections/Connections.kt
  app/src/main/java/com/geeksville/mesh/ui/settings/SettingsScreen.kt
  app/src/main/java/com/geeksville/mesh/ui/settings/radio/RadioConfig.kt
  app/src/main/res/values/strings.xml
Labels: enhancement, ui

#2988 New Crowdin updates
  app/src/main/res/values-fi-rFI/strings.xml
Labels: l10n, automation

#2989 feat #2570, Add ExportAll to csv
  app/src/main/java/com/geeksville/mesh/model/UIState.kt
  app/src/main/java/com/geeksville/mesh/ui/settings/SettingsScreen.kt
  app/src/main/res/values/strings.xml
Labels: enhancement

#2991 move debug export to using URI
  app/src/main/java/com/geeksville/mesh/ui/debug/Debug.kt
  app/src/main/res/values/strings.xml
Labels: enhancement

#2994 New Crowdin updates
  app/src/main/res/values-ar-rSA/strings.xml
  app/src/main/res/values-b+sr+Latn/strings.xml
  app/src/main/res/values-bg-rBG/strings.xml
  app/src/main/res/values-ca-rES/strings.xml
  app/src/main/res/values-cs-rCZ/strings.xml
  app/src/main/res/values-de-rDE/strings.xml
  app/src/main/res/values-el-rGR/strings.xml
  app/src/main/res/values-es-rES/strings.xml
  app/src/main/res/values-et-rEE/strings.xml
  app/src/main/res/values-fi-rFI/strings.xml
  app/src/main/res/values-fr-rFR/strings.xml
  app/src/main/res/values-ga-rIE/strings.xml
  app/src/main/res/values-gl-rES/strings.xml
  app/src/main/res/values-hr-rHR/strings.xml
  app/src/main/res/values-ht-rHT/strings.xml
  app/src/main/res/values-hu-rHU/strings.xml
  app/src/main/res/values-is-rIS/strings.xml
  app/src/main/res/values-it-rIT/strings.xml
  app/src/main/res/values-iw-rIL/strings.xml
  app/src/main/res/values-ja-rJP/strings.xml
  app/src/main/res/values-ko-rKR/strings.xml
  app/src/main/res/values-lt-rLT/strings.xml
  app/src/main/res/values-nl-rNL/strings.xml
  app/src/main/res/values-no-rNO/strings.xml
  app/src/main/res/values-pl-rPL/strings.xml
  app/src/main/res/values-pt-rBR/strings.xml
  app/src/main/res/values-pt-rPT/strings.xml
  app/src/main/res/values-ro-rRO/strings.xml
  app/src/main/res/values-ru-rRU/strings.xml
  app/src/main/res/values-sk-rSK/strings.xml
  app/src/main/res/values-sl-rSI/strings.xml
  app/src/main/res/values-sq-rAL/strings.xml
  app/src/main/res/values-srp/strings.xml
  app/src/main/res/values-sv-rSE/strings.xml
  app/src/main/res/values-tr-rTR/strings.xml
  app/src/main/res/values-uk-rUA/strings.xml
  app/src/main/res/values-zh-rCN/strings.xml
  app/src/main/res/values-zh-rTW/strings.xml
Labels: l10n, automation

#2995 repo: update label check so it doesn't need help
  .github/workflows/pr_enforce_labels.yml
Labels: ci, repo

#2998 chore: Scheduled updates (Firmware, Hardware)
  app/src/main/assets/firmware_releases.json
Labels: automation, firmware, hardware

#2999 add times to traceroute displays.
  app/src/main/java/com/geeksville/mesh/model/MetricsViewModel.kt
  app/src/main/java/com/geeksville/mesh/model/RouteDiscovery.kt
  app/src/main/java/com/geeksville/mesh/service/MeshService.kt
  app/src/main/java/com/geeksville/mesh/ui/metrics/TracerouteLog.kt
Labels: enhancement

#2993 Feat/2932 env metrics radiation
  app/src/main/java/com/geeksville/mesh/ui/metrics/EnvironmentMetrics.kt
Labels: enhancement

#3000 feat #2810 - fix export config file name
  app/src/main/java/com/geeksville/mesh/ui/settings/SettingsScreen.kt
Labels: enhancement

#3003 feat(map): keep screen on when location tracking is enabled
  app/src/google/java/com/geeksville/mesh/ui/map/MapView.kt
Labels: enhancement

#3005 chore: Scheduled updates (Firmware, Hardware)
  app/src/main/assets/firmware_releases.json
Labels: automation, firmware, hardware

#3006 fix(service): increase config wait time
  app/src/main/java/com/geeksville/mesh/service/MeshService.kt
Labels: bugfix

#3013 New Crowdin updates
  app/src/main/res/values-et-rEE/strings.xml
Labels: l10n, automation

#3030 chore: Scheduled updates (Firmware, Hardware)
  app/src/main/assets/firmware_releases.json
Labels: automation, firmware, hardware

#3027 fix(release): Simplify Play Store deployment to upload-only
  .github/workflows/release.yml
  RELEASE_PROCESS.md
  app/build.gradle.kts
  buildSrc/src/main/kotlin/GitVersionValueSource.kt
Labels: ci, automation

#3031 feat(docs): migrate configs to dokka 2
  .github/workflows/docs.yml
  app/build.gradle.kts
  gradle.properties
  gradle/libs.versions.toml
Labels: documentation, ci, repo

#3032 New Crowdin updates
  app/src/main/res/values-fi-rFI/strings.xml
Labels: l10n, automation

#3037 New Crowdin updates
  app/src/main/res/values-de-rDE/strings.xml
Labels: l10n, automation

#3043 chore(build): prioritize injected version properties
  app/build.gradle.kts
Labels: bugfix

#3044 fix(fastlane): Align assemble_beta task with fastlane documentation
  fastlane/Fastfile
Labels: ci, bugfix

#3048 docs: update app store metadata
  fastlane/metadata/android/en-US/images/featureGraphic.jpeg
  fastlane/metadata/android/en-US/images/featureGraphic.png
  fastlane/metadata/android/en-US/short_description.txt
  fastlane/metadata/android/en-US/video.txt
Labels: documentation, enhancement, ci

#3051 fix(fastlane): change Play Store release status to draft
  fastlane/Fastfile
Labels: ci, bugfix

#3052 Update strings.xml - Include GeoJSON
  app/src/main/res/values/strings.xml
Labels: enhancement

#3070 repo(release): merge changes from 2.7.0 to main
  .github/workflows/release.yml
  app/build.gradle.kts
  app/src/main/java/com/geeksville/mesh/ui/Main.kt
  app/src/main/java/com/geeksville/mesh/util/LanguageUtils.kt
  app/src/main/res/xml/locales_config.xml
  buildSrc/src/main/kotlin/Configs.kt
Labels: repo

#3080 New Crowdin updates
  app/src/main/res/values-zh-rTW/strings.xml
  fastlane/metadata/android/bg-rBG/full_description.txt
Labels: l10n, automation

#3089 refactor(radio): connection state tweaks
  app/src/main/java/com/geeksville/mesh/repository/radio/RadioInterfaceService.kt
  app/src/main/java/com/geeksville/mesh/repository/radio/RadioServiceConnectionState.kt
  app/src/main/java/com/geeksville/mesh/service/MeshService.kt
Labels: bugfix

#3086 New Crowdin updates
  app/src/main/res/values-hu-rHU/strings.xml
  fastlane/metadata/android/hu-rHU/full_description.txt
  fastlane/metadata/android/hu-rHU/short_description.txt
  mesh_service_example/src/main/res/values-hu-rHU/strings.xml
Labels: l10n, automation

#3090 fix: detekt
  app/src/main/java/com/geeksville/mesh/service/MeshService.kt
Labels: bugfix

#3092 New Crowdin updates
  app/src/main/res/values-bg-rBG/strings.xml
  app/src/main/res/values-cs-rCZ/strings.xml
  app/src/main/res/values-et-rEE/strings.xml
Labels: l10n, automation

#3095 revert(safebluetooth): reverts changes to SafeBluetooth.kt
  app/src/main/java/com/geeksville/mesh/service/SafeBluetooth.kt
Labels: bugfix

#3096 fix: detekt
  app/src/main/java/com/geeksville/mesh/service/SafeBluetooth.kt
Labels: bugfix

#3097 ci(release): update artifact paths in release workflow
  .github/workflows/release.yml
Labels: automation, bugfix

#3093 New Crowdin updates
  app/src/main/res/values-cs-rCZ/strings.xml
  app/src/main/res/values-it-rIT/strings.xml
Labels: l10n, automation

#3098 chore: Scheduled updates (Firmware, Hardware)
  app/src/main/assets/firmware_releases.json
Labels: automation, firmware, hardware

#3099 add internal bug report with ch_testing tags
  .github/ISSUE_TEMPLATE/bug_repor_internal.yml
Labels: repo

#3108 More `ConnectionsScreen` screen breakup
  app/src/main/java/com/geeksville/mesh/ui/connections/ConnectionsScreen.kt
  app/src/main/java/com/geeksville/mesh/ui/connections/DeviceType.kt
  app/src/main/java/com/geeksville/mesh/ui/connections/components/ConnectionsSegmentedBar.kt
  app/src/main/java/com/geeksville/mesh/ui/settings/SettingsScreen.kt
Labels: enhancement, ui

#3110 feat(build-logic): modularize build-logic & update dependencies
  app/build.gradle.kts
  build-logic/convention/build.gradle.kts
  build-logic/convention/src/main/kotlin/AndroidApplicationConventionPlugin.kt
  build-logic/convention/src/main/kotlin/AndroidApplicationFirebaseConventionPlugin.kt
  build-logic/convention/src/main/kotlin/AndroidApplicationFlavorsConventionPlugin.kt
  build-logic/convention/src/main/kotlin/AndroidLibraryComposeConventionPlugin.kt
  build-logic/convention/src/main/kotlin/AndroidLibraryConventionPlugin.kt
  build-logic/convention/src/main/kotlin/AndroidLintConventionPlugin.kt
  build-logic/convention/src/main/kotlin/AndroidRoomConventionPlugin.kt
  build-logic/convention/src/main/kotlin/DetektConventionPlugin.kt
  build-logic/convention/src/main/kotlin/HiltConventionPlugin.kt
  build-logic/convention/src/main/kotlin/SpotlessConventionPlugin.kt
  build-logic/convention/src/main/kotlin/com/geeksville/mesh/buildlogic/AndroidCompose.kt
  build-logic/convention/src/main/kotlin/com/geeksville/mesh/buildlogic/Detekt.kt
  build-logic/convention/src/main/kotlin/com/geeksville/mesh/buildlogic/KotlinAndroid.kt
  build.gradle.kts
  compose_compiler_config.conf
  gradle.properties
  gradle/libs.versions.toml
  mesh_service_example/build.gradle.kts
  network/build.gradle.kts
Labels: enhancement

#3117 chore: Scheduled updates (Firmware, Hardware)
  app/src/main/assets/device_hardware.json
Labels: automation, firmware, hardware

#3125 Example project: Appease Detekt
  mesh_service_example/src/main/kotlin/com/geeksville/mesh/DataPacket.kt
  mesh_service_example/src/main/kotlin/com/geeksville/mesh/MyNodeInfo.kt
  mesh_service_example/src/main/kotlin/com/geeksville/mesh/NodeInfo.kt
  mesh_service_example/src/main/kotlin/com/geeksville/mesh/util/LocationUtils.kt
  mesh_service_example/src/main/kotlin/com/meshtastic/android/meshserviceexample/MainActivity.kt
Labels: enhancement, repo

#3129 Re-add "set region" CTA
  app/src/main/java/com/geeksville/mesh/ui/common/components/TitledCard.kt
  app/src/main/java/com/geeksville/mesh/ui/connections/ConnectionsScreen.kt
  app/src/main/res/values/strings.xml
Labels: enhancement

#3132 Start migration away from global top app bar
  app/src/fdroid/java/com/geeksville/mesh/ui/node/NodeMap.kt
  app/src/google/java/com/geeksville/mesh/ui/node/NodeMap.kt
  app/src/main/java/com/geeksville/mesh/navigation/ConnectionsNavigation.kt
  app/src/main/java/com/geeksville/mesh/navigation/ContactsNavigation.kt
  app/src/main/java/com/geeksville/mesh/navigation/MapNavigation.kt
  app/src/main/java/com/geeksville/mesh/navigation/NodesNavigation.kt
  app/src/main/java/com/geeksville/mesh/navigation/SettingsNavigation.kt
  app/src/main/java/com/geeksville/mesh/ui/Main.kt
  app/src/main/java/com/geeksville/mesh/ui/common/components/MainAppBar.kt
  app/src/main/java/com/geeksville/mesh/ui/connections/ConnectionsScreen.kt
  app/src/main/java/com/geeksville/mesh/ui/connections/components/ConnectionsSegmentedBar.kt
  app/src/main/java/com/geeksville/mesh/ui/connections/components/CurrentlyConnectedInfo.kt
  app/src/main/java/com/geeksville/mesh/ui/connections/components/UsbDevices.kt
  app/src/main/java/com/geeksville/mesh/ui/contact/Contacts.kt
  app/src/main/java/com/geeksville/mesh/ui/node/NodeDetail.kt
  app/src/main/java/com/geeksville/mesh/ui/node/NodeScreen.kt
  app/src/main/java/com/geeksville/mesh/ui/settings/SettingsScreen.kt
Labels: enhancement, ui

#3135 refactor(map): use hiltViewModel for MapViewModel
  app/src/fdroid/java/com/geeksville/mesh/ui/map/MapView.kt
Labels: bugfix

#3134 New Crowdin updates
  app/src/main/res/values-ar-rSA/strings.xml
  app/src/main/res/values-b+sr+Latn/strings.xml
  app/src/main/res/values-bg-rBG/strings.xml
  app/src/main/res/values-ca-rES/strings.xml
  app/src/main/res/values-cs-rCZ/strings.xml
  app/src/main/res/values-de-rDE/strings.xml
  app/src/main/res/values-el-rGR/strings.xml
  app/src/main/res/values-es-rES/strings.xml
  app/src/main/res/values-et-rEE/strings.xml
  app/src/main/res/values-fi-rFI/strings.xml
  app/src/main/res/values-fr-rFR/strings.xml
  app/src/main/res/values-ga-rIE/strings.xml
  app/src/main/res/values-gl-rES/strings.xml
  app/src/main/res/values-hr-rHR/strings.xml
  app/src/main/res/values-ht-rHT/strings.xml
  app/src/main/res/values-hu-rHU/strings.xml
  app/src/main/res/values-is-rIS/strings.xml
  app/src/main/res/values-it-rIT/strings.xml
  app/src/main/res/values-iw-rIL/strings.xml
  app/src/main/res/values-ja-rJP/strings.xml
  app/src/main/res/values-ko-rKR/strings.xml
  app/src/main/res/values-lt-rLT/strings.xml
  app/src/main/res/values-nl-rNL/strings.xml
  app/src/main/res/values-no-rNO/strings.xml
  app/src/main/res/values-pl-rPL/strings.xml
  app/src/main/res/values-pt-rBR/strings.xml
  app/src/main/res/values-pt-rPT/strings.xml
  app/src/main/res/values-ro-rRO/strings.xml
  app/src/main/res/values-ru-rRU/strings.xml
  app/src/main/res/values-sk-rSK/strings.xml
  app/src/main/res/values-sl-rSI/strings.xml
  app/src/main/res/values-sq-rAL/strings.xml
  app/src/main/res/values-srp/strings.xml
  app/src/main/res/values-sv-rSE/strings.xml
  app/src/main/res/values-tr-rTR/strings.xml
  app/src/main/res/values-uk-rUA/strings.xml
  app/src/main/res/values-zh-rCN/strings.xml
  app/src/main/res/values-zh-rTW/strings.xml
Labels: l10n, automation

#3142 Add `MapScreen`
  app/src/fdroid/java/com/geeksville/mesh/ui/map/MapViewModel.kt
  app/src/google/java/com/geeksville/mesh/ui/map/MapViewModel.kt
  app/src/main/java/com/geeksville/mesh/navigation/MapNavigation.kt
  app/src/main/java/com/geeksville/mesh/ui/map/BaseMapViewModel.kt
  app/src/main/java/com/geeksville/mesh/ui/map/MapScreen.kt
Labels: enhancement, ui

#3155 New Crowdin updates
  app/src/main/res/values-ar-rSA/strings.xml
  app/src/main/res/values-b+sr+Latn/strings.xml
  app/src/main/res/values-bg-rBG/strings.xml
  app/src/main/res/values-ca-rES/strings.xml
  app/src/main/res/values-cs-rCZ/strings.xml
  app/src/main/res/values-de-rDE/strings.xml
  app/src/main/res/values-el-rGR/strings.xml
  app/src/main/res/values-es-rES/strings.xml
  app/src/main/res/values-et-rEE/strings.xml
  app/src/main/res/values-fi-rFI/strings.xml
  app/src/main/res/values-fr-rFR/strings.xml
  app/src/main/res/values-ga-rIE/strings.xml
  app/src/main/res/values-gl-rES/strings.xml
  app/src/main/res/values-hr-rHR/strings.xml
  app/src/main/res/values-ht-rHT/strings.xml
  app/src/main/res/values-hu-rHU/strings.xml
  app/src/main/res/values-is-rIS/strings.xml
  app/src/main/res/values-it-rIT/strings.xml
  app/src/main/res/values-iw-rIL/strings.xml
  app/src/main/res/values-ja-rJP/strings.xml
  app/src/main/res/values-ko-rKR/strings.xml
  app/src/main/res/values-lt-rLT/strings.xml
  app/src/main/res/values-nl-rNL/strings.xml
  app/src/main/res/values-no-rNO/strings.xml
  app/src/main/res/values-pl-rPL/strings.xml
  app/src/main/res/values-pt-rBR/strings.xml
  app/src/main/res/values-pt-rPT/strings.xml
  app/src/main/res/values-ro-rRO/strings.xml
  app/src/main/res/values-ru-rRU/strings.xml
  app/src/main/res/values-sk-rSK/strings.xml
  app/src/main/res/values-sl-rSI/strings.xml
  app/src/main/res/values-sq-rAL/strings.xml
  app/src/main/res/values-srp/strings.xml
  app/src/main/res/values-sv-rSE/strings.xml
  app/src/main/res/values-tr-rTR/strings.xml
  app/src/main/res/values-uk-rUA/strings.xml
  app/src/main/res/values-zh-rCN/strings.xml
  app/src/main/res/values-zh-rTW/strings.xml
Labels: l10n, automation

#3162 chore: Scheduled updates (Firmware, Hardware)
  app/src/main/assets/device_hardware.json
Labels: automation, firmware, hardware

#3195 New Crowdin updates
  core/strings/src/main/res/values-et-rEE/strings.xml
  core/strings/src/main/res/values-fi-rFI/strings.xml
Labels: l10n, automation

#3196 New Crowdin updates
  core/strings/src/main/res/values-bg-rBG/strings.xml
Labels: l10n, automation

#3209 feat(db): introduce transactional config installation
  app/src/main/java/com/geeksville/mesh/database/NodeRepository.kt
  app/src/main/java/com/geeksville/mesh/service/MeshService.kt
  core/database/src/main/kotlin/org/meshtastic/core/database/dao/NodeInfoDao.kt
  core/prefs/src/main/kotlin/org/meshtastic/core/prefs/mesh/MeshPrefs.kt
Labels: bugfix

#3211 New Crowdin updates
  core/strings/src/main/res/values-cs-rCZ/strings.xml
  core/strings/src/main/res/values-es-rES/strings.xml
Labels: l10n, automation

#3213 Decouple `MapView` from `UiViewModel`
  app/src/fdroid/java/com/geeksville/mesh/ui/map/MapView.kt
  app/src/fdroid/java/com/geeksville/mesh/ui/map/MapViewModel.kt
  app/src/google/java/com/geeksville/mesh/ui/map/MapView.kt
  app/src/google/java/com/geeksville/mesh/ui/map/MapViewModel.kt
  app/src/google/java/com/geeksville/mesh/ui/node/NodeMap.kt
  app/src/main/java/com/geeksville/mesh/model/UIState.kt
  app/src/main/java/com/geeksville/mesh/navigation/MapNavigation.kt
  app/src/main/java/com/geeksville/mesh/ui/Main.kt
  app/src/main/java/com/geeksville/mesh/ui/map/BaseMapViewModel.kt
  app/src/main/java/com/geeksville/mesh/ui/map/MapScreen.kt
Labels: enhancement, modularization

#3215 Decouple contacts nav graph from `UiViewModel`
  app/src/main/java/com/geeksville/mesh/model/UIState.kt
  app/src/main/java/com/geeksville/mesh/navigation/ContactsNavigation.kt
  app/src/main/java/com/geeksville/mesh/ui/Main.kt
  app/src/main/java/com/geeksville/mesh/ui/contact/Contacts.kt
  app/src/main/java/com/geeksville/mesh/ui/contact/ContactsViewModel.kt
  app/src/main/java/com/geeksville/mesh/ui/sharing/Share.kt
Labels: enhancement, modularization

#3216 Decouple `MainAppBar` from `UiViewModel`
  app/src/main/java/com/geeksville/mesh/model/UIState.kt
  app/src/main/java/com/geeksville/mesh/ui/Main.kt
  app/src/main/java/com/geeksville/mesh/ui/common/components/MainAppBar.kt
Labels: enhancement, modularization

#3219 feat(map): add last heard filter for map nodes
  app/src/google/java/com/geeksville/mesh/ui/map/MapView.kt
  app/src/google/java/com/geeksville/mesh/ui/map/components/MapFilterDropdown.kt
  app/src/main/java/com/geeksville/mesh/ui/map/BaseMapViewModel.kt
  core/prefs/src/main/kotlin/org/meshtastic/core/prefs/map/MapPrefs.kt
  core/strings/src/main/res/values/strings.xml
Labels: enhancement

#3222 feat(map): Add last heard filter for node tracks
  app/src/google/java/com/geeksville/mesh/ui/map/MapView.kt
  app/src/google/java/com/geeksville/mesh/ui/map/components/MapControlsOverlay.kt
  app/src/google/java/com/geeksville/mesh/ui/map/components/MapFilterDropdown.kt
  app/src/google/java/com/geeksville/mesh/ui/node/NodeMap.kt
  app/src/main/java/com/geeksville/mesh/ui/map/BaseMapViewModel.kt
  core/prefs/src/main/kotlin/org/meshtastic/core/prefs/map/MapPrefs.kt
Labels: enhancement

#3218 chore: Scheduled updates (Firmware, Hardware)
  app/src/main/assets/device_hardware.json
Labels: automation, firmware, hardware

#3227 add colour coding to traceroutes
  app/src/main/java/com/geeksville/mesh/ui/Main.kt
  app/src/main/java/com/geeksville/mesh/ui/metrics/TracerouteLog.kt
  core/ui/src/main/kotlin/org/meshtastic/core/ui/component/LoraSignalIndicator.kt
Labels: enhancement

#3229 New Crowdin updates
  core/strings/src/main/res/values-ar-rSA/strings.xml
  core/strings/src/main/res/values-b+sr+Latn/strings.xml
  core/strings/src/main/res/values-bg-rBG/strings.xml
  core/strings/src/main/res/values-ca-rES/strings.xml
  core/strings/src/main/res/values-cs-rCZ/strings.xml
  core/strings/src/main/res/values-de-rDE/strings.xml
  core/strings/src/main/res/values-el-rGR/strings.xml
  core/strings/src/main/res/values-es-rES/strings.xml
  core/strings/src/main/res/values-et-rEE/strings.xml
  core/strings/src/main/res/values-fi-rFI/strings.xml
  core/strings/src/main/res/values-fr-rFR/strings.xml
  core/strings/src/main/res/values-ga-rIE/strings.xml
  core/strings/src/main/res/values-gl-rES/strings.xml
  core/strings/src/main/res/values-hr-rHR/strings.xml
  core/strings/src/main/res/values-ht-rHT/strings.xml
  core/strings/src/main/res/values-hu-rHU/strings.xml
  core/strings/src/main/res/values-is-rIS/strings.xml
  core/strings/src/main/res/values-it-rIT/strings.xml
  core/strings/src/main/res/values-iw-rIL/strings.xml
  core/strings/src/main/res/values-ja-rJP/strings.xml
  core/strings/src/main/res/values-ko-rKR/strings.xml
  core/strings/src/main/res/values-lt-rLT/strings.xml
  core/strings/src/main/res/values-nl-rNL/strings.xml
  core/strings/src/main/res/values-no-rNO/strings.xml
  core/strings/src/main/res/values-pl-rPL/strings.xml
  core/strings/src/main/res/values-pt-rBR/strings.xml
  core/strings/src/main/res/values-pt-rPT/strings.xml
  core/strings/src/main/res/values-ro-rRO/strings.xml
  core/strings/src/main/res/values-ru-rRU/strings.xml
  core/strings/src/main/res/values-sk-rSK/strings.xml
  core/strings/src/main/res/values-sl-rSI/strings.xml
  core/strings/src/main/res/values-sq-rAL/strings.xml
  core/strings/src/main/res/values-srp/strings.xml
  core/strings/src/main/res/values-sv-rSE/strings.xml
  core/strings/src/main/res/values-tr-rTR/strings.xml
  core/strings/src/main/res/values-uk-rUA/strings.xml
  core/strings/src/main/res/values-zh-rCN/strings.xml
  core/strings/src/main/res/values-zh-rTW/strings.xml
Labels: l10n, automation

#3237 New Crowdin updates
  core/strings/src/main/res/values-ar-rSA/strings.xml
  core/strings/src/main/res/values-b+sr+Latn/strings.xml
  core/strings/src/main/res/values-bg-rBG/strings.xml
  core/strings/src/main/res/values-ca-rES/strings.xml
  core/strings/src/main/res/values-cs-rCZ/strings.xml
  core/strings/src/main/res/values-de-rDE/strings.xml
  core/strings/src/main/res/values-el-rGR/strings.xml
  core/strings/src/main/res/values-es-rES/strings.xml
  core/strings/src/main/res/values-et-rEE/strings.xml
  core/strings/src/main/res/values-fi-rFI/strings.xml
  core/strings/src/main/res/values-fr-rFR/strings.xml
  core/strings/src/main/res/values-ga-rIE/strings.xml
  core/strings/src/main/res/values-gl-rES/strings.xml
  core/strings/src/main/res/values-hr-rHR/strings.xml
  core/strings/src/main/res/values-ht-rHT/strings.xml
  core/strings/src/main/res/values-hu-rHU/strings.xml
  core/strings/src/main/res/values-is-rIS/strings.xml
  core/strings/src/main/res/values-it-rIT/strings.xml
  core/strings/src/main/res/values-iw-rIL/strings.xml
  core/strings/src/main/res/values-ja-rJP/strings.xml
  core/strings/src/main/res/values-ko-rKR/strings.xml
  core/strings/src/main/res/values-lt-rLT/strings.xml
  core/strings/src/main/res/values-nl-rNL/strings.xml
  core/strings/src/main/res/values-no-rNO/strings.xml
  core/strings/src/main/res/values-pl-rPL/strings.xml
  core/strings/src/main/res/values-pt-rBR/strings.xml
  core/strings/src/main/res/values-pt-rPT/strings.xml
  core/strings/src/main/res/values-ro-rRO/strings.xml
  core/strings/src/main/res/values-ru-rRU/strings.xml
  core/strings/src/main/res/values-sk-rSK/strings.xml
  core/strings/src/main/res/values-sl-rSI/strings.xml
  core/strings/src/main/res/values-sq-rAL/strings.xml
  core/strings/src/main/res/values-srp/strings.xml
  core/strings/src/main/res/values-sv-rSE/strings.xml
  core/strings/src/main/res/values-tr-rTR/strings.xml
  core/strings/src/main/res/values-uk-rUA/strings.xml
  core/strings/src/main/res/values-zh-rCN/strings.xml
  core/strings/src/main/res/values-zh-rTW/strings.xml
Labels: l10n, automation

#3241 Migrate node sort prefs to datastore
  app/src/main/java/com/geeksville/mesh/ui/node/NodesViewModel.kt
  core/datastore/src/main/kotlin/org/meshtastic/core/datastore/UiPreferencesDataSource.kt
  core/datastore/src/main/kotlin/org/meshtastic/core/datastore/di/DataStoreModule.kt
  core/prefs/src/main/kotlin/org/meshtastic/core/prefs/ui/UiPrefs.kt
Labels: enhancement

#3246 fix(service): Update foreground service type and error handling
  app/src/main/java/com/geeksville/mesh/service/MeshService.kt
Labels: bugfix
