Repository meshtastic/Meshtastic-Android, pull requests merged in 2025-10, with the labels that each got.

#3260 feat(map): set minimum cluster size to 10
  app/src/google/java/com/geeksville/mesh/ui/map/components/NodeClusterMarkers.kt
Labels: enhancement

#3247 New Crowdin updates
  core/strings/src/main/res/values-ar-rSA/strings.xml
  core/strings/src/main/res/values-b+sr+Latn/strings.xml
  core/strings/src/main/res/values-bg-rBG/strings.xml
  core/strings/src/main/res/values-ca-rES/strings.xml
  core/strings/src/main/res/values-cs-rCZ/strings.xml
  core/strings/src/main/res/values-de-rDE/strings.xml
  core/strings/src/main/res/values-el-rGR/strings.xml
  core/strings/src/main/res/values-es-rES/strings.xml
  core/strings/src/main/res/values-et-rEE/strings.xml
  core/strings/src/main/res/values-fi-rFI/strings.xml
  core/strings/src/main/res/values-fr-rFR/strings.xml
  core/strings/src/main/res/values-ga-rIE/strings.xml
  core/strings/src/main/res/values-gl-rES/strings.xml
  core/strings/src/main/res/values-hr-rHR/strings.xml
  core/strings/src/main/res/values-ht-rHT/strings.xml
  core/strings/src/main/res/values-hu-rHU/strings.xml
  core/strings/src/main/res/values-is-rIS/strings.xml
  core/strings/src/main/res/values-it-rIT/strings.xml
  core/strings/src/main/res/values-iw-rIL/strings.xml
  core/strings/src/main/res/values-ja-rJP/strings.xml
  core/strings/src/main/res/values-ko-rKR/strings.xml
  core/strings/src/main/res/values-lt-rLT/strings.xml
  core/strings/src/main/res/values-nl-rNL/strings.xml
  core/strings/src/main/res/values-no-rNO/strings.xml
  core/strings/src/main/res/values-pl-rPL/strings.xml
  core/strings/src/main/res/values-pt-rBR/strings.xml
  core/strings/src/main/res/values-pt-rPT/strings.xml
  core/strings/src/main/res/values-ro-rRO/strings.xml
  core/strings/src/main/res/values-ru-rRU/strings.xml
  core/strings/src/main/res/values-sk-rSK/strings.xml
  core/strings/src/main/res/values-sl-rSI/strings.xml
  core/strings/src/main/res/values-sq-rAL/strings.xml
  core/strings/src/main/res/values-srp/strings.xml
  core/strings/src/main/res/values-sv-rSE/strings.xml
  core/strings/src/main/res/values-tr-rTR/strings.xml
  core/strings/src/main/res/values-uk-rUA/strings.xml
  core/strings/src/main/res/values-zh-rCN/strings.xml
  core/strings/src/main/res/values-zh-rTW/strings.xml
Labels: l10n, automation

#3265 chore(fdroid): Configure F-Droid build variant
  app/build.gradle.kts
  gradle.properties
Labels: bugfix

#3269 New Crowdin updates
  core/strings/src/main/res/values-bg-rBG/strings.xml
  core/strings/src/main/res/values-fr-rFR/strings.xml
Labels: l10n, automation

#3271 New Crowdin updates
  core/strings/src/main/res/values-fr-rFR/strings.xml
Labels: l10n, automation

#3286 Modularize common composables
  app/detekt-baseline.xml
  app/src/fdroid/java/com/geeksville/mesh/ui/map/components/EditWaypointDialog.kt
  app/src/google/java/com/geeksville/mesh/ui/map/components/EditWaypointDialog.kt
  app/src/google/java/com/geeksville/mesh/ui/node/NodeMapScreen.kt
  app/src/main/java/com/geeksville/mesh/ui/Main.kt
  app/src/main/java/com/geeksville/mesh/ui/connections/ConnectionsScreen.kt
  app/src/main/java/com/geeksville/mesh/ui/contact/ContactItem.kt
  app/src/main/java/com/geeksville/mesh/ui/contact/Contacts.kt
  app/src/main/java/com/geeksville/mesh/ui/debug/Debug.kt
  app/src/main/java/com/geeksville/mesh/ui/map/MapScreen.kt
  app/src/main/java/com/geeksville/mesh/ui/message/Message.kt
  app/src/main/java/com/geeksville/mesh/ui/message/components/MessageActions.kt
  app/src/main/java/com/geeksville/mesh/ui/node/NodeDetailScreen.kt
  app/src/main/java/com/geeksville/mesh/ui/node/NodeListScreen.kt
  app/src/main/java/com/geeksville/mesh/ui/settings/SettingsScreen.kt
  app/src/main/java/com/geeksville/mesh/ui/settings/radio/components/AudioConfigItemList.kt
  app/src/main/java/com/geeksville/mesh/ui/settings/radio/components/BluetoothConfigItemList.kt
  app/src/main/java/com/geeksville/mesh/ui/settings/radio/components/CannedMessageConfigItemList.kt
  app/src/main/java/com/geeksville/mesh/ui/settings/radio/components/ChannelSettingsItemList.kt
  app/src/main/java/com/geeksville/mesh/ui/settings/radio/components/DetectionSensorConfigItemList.kt
  app/src/main/java/com/geeksville/mesh/ui/settings/radio/components/DeviceConfigItemList.kt
  app/src/main/java/com/geeksville/mesh/ui/settings/radio/components/DisplayConfigItemList.kt
  app/src/main/java/com/geeksville/mesh/ui/settings/radio/components/EditChannelDialog.kt
  app/src/main/java/com/geeksville/mesh/ui/settings/radio/components/LoRaConfigItemList.kt
  app/src/main/java/com/geeksville/mesh/ui/settings/radio/components/MapReportingPreference.kt
  app/src/main/java/com/geeksville/mesh/ui/settings/radio/components/NetworkConfigItemList.kt
  app/src/main/java/com/geeksville/mesh/ui/settings/radio/components/PositionConfigItemList.kt
  app/src/main/java/com/geeksville/mesh/ui/settings/radio/components/RadioConfigScreenList.kt
  app/src/main/java/com/geeksville/mesh/ui/settings/radio/components/RemoteHardwareConfigItemList.kt
  app/src/main/java/com/geeksville/mesh/ui/settings/radio/components/SecurityConfigItemList.kt
  app/src/main/java/com/geeksville/mesh/ui/settings/radio/components/SerialConfigItemList.kt
  core/model/src/main/kotlin/org/meshtastic/core/model/util/ByteStringExtensions.kt
  core/ui/build.gradle.kts
  core/ui/detekt-baseline.xml
  core/ui/src/main/kotlin/org/meshtastic/core/ui/component/DropDownPreference.kt
  core/ui/src/main/kotlin/org/meshtastic/core/ui/component/EditBase64Preference.kt
  core/ui/src/main/kotlin/org/meshtastic/core/ui/component/EditListPreference.kt
  core/ui/src/main/kotlin/org/meshtastic/core/ui/component/MainAppBar.kt
  core/ui/src/main/kotlin/org/meshtastic/core/ui/component/PositionPrecisionPreference.kt
  core/ui/src/main/kotlin/org/meshtastic/core/ui/component/PreferenceDivider.kt
  core/ui/src/main/kotlin/org/meshtastic/core/ui/component/SecurityIcon.kt
  core/ui/src/main/kotlin/org/meshtastic/core/ui/component/preview/PreviewUtils.kt
  core/ui/src/main/kotlin/org/meshtastic/core/ui/emoji/CustomRecentEmojiProvider.kt
  core/ui/src/main/kotlin/org/meshtastic/core/ui/emoji/EmojiPicker.kt
  core/ui/src/main/kotlin/org/meshtastic/core/ui/emoji/EmojiPickerViewModel.kt
  core/ui/src/main/res/drawable/ic_meshtastic.xml
Labels: enhancement, modularization

#3283 feat(contact): add manually verified shared contact support
  app/src/main/java/com/geeksville/mesh/service/MeshService.kt
  app/src/main/java/com/geeksville/mesh/ui/message/MessageViewModel.kt
  core/database/schemas/org.meshtastic.core.database.MeshtasticDatabase/21.json
  core/database/src/main/kotlin/org/meshtastic/core/database/MeshtasticDatabase.kt
  core/database/src/main/kotlin/org/meshtastic/core/database/entity/NodeEntity.kt
  core/database/src/main/kotlin/org/meshtastic/core/database/model/Node.kt
  core/service/src/main/kotlin/org/meshtastic/core/service/ServiceAction.kt
  feature/node/src/main/kotlin/org/meshtastic/feature/node/list/NodeListViewModel.kt
Labels: enhancement

#3294 chore(repo): Update VERSION_NAME_BASE to 2.7.2
  config.properties
Labels: repo

#3296 New Crowdin updates
  core/strings/src/main/res/values-ar-rSA/strings.xml
  core/strings/src/main/res/values-b+sr+Latn/strings.xml
  core/strings/src/main/res/values-bg-rBG/strings.xml
  core/strings/src/main/res/values-ca-rES/strings.xml
  core/strings/src/main/res/values-cs-rCZ/strings.xml
  core/strings/src/main/res/values-de-rDE/strings.xml
  core/strings/src/main/res/values-el-rGR/strings.xml
  core/strings/src/main/res/values-es-rES/strings.xml
  core/strings/src/main/res/values-et-rEE/strings.xml
  core/strings/src/main/res/values-fi-rFI/strings.xml
  core/strings/src/main/res/values-fr-rFR/strings.xml
  core/strings/src/main/res/values-ga-rIE/strings.xml
  core/strings/src/main/res/values-gl-rES/strings.xml
  core/strings/src/main/res/values-hr-rHR/strings.xml
  core/strings/src/main/res/values-ht-rHT/strings.xml
  core/strings/src/main/res/values-hu-rHU/strings.xml
  core/strings/src/main/res/values-is-rIS/strings.xml
  core/strings/src/main/res/values-it-rIT/strings.xml
  core/strings/src/main/res/values-iw-rIL/strings.xml
  core/strings/src/main/res/values-ja-rJP/strings.xml
  core/strings/src/main/res/values-ko-rKR/strings.xml
  core/strings/src/main/res/values-lt-rLT/strings.xml
  core/strings/src/main/res/values-nl-rNL/strings.xml
  core/strings/src/main/res/values-no-rNO/strings.xml
  core/strings/src/main/res/values-pl-rPL/strings.xml
  core/strings/src/main/res/values-pt-rBR/strings.xml
  core/strings/src/main/res/values-pt-rPT/strings.xml
  core/strings/src/main/res/values-ro-rRO/strings.xml
  core/strings/src/main/res/values-ru-rRU/strings.xml
  core/strings/src/main/res/values-sk-rSK/strings.xml
  core/strings/src/main/res/values-sl-rSI/strings.xml
  core/strings/src/main/res/values-sq-rAL/strings.xml
  core/strings/src/main/res/values-srp/strings.xml
  core/strings/src/main/res/values-sv-rSE/strings.xml
  core/strings/src/main/res/values-tr-rTR/strings.xml
  core/strings/src/main/res/values-uk-rUA/strings.xml
  core/strings/src/main/res/values-zh-rCN/strings.xml
  core/strings/src/main/res/values-zh-rTW/strings.xml
Labels: l10n, automation

#3298 `ConnectionsScreen` available BLE devices
  app/src/main/java/com/geeksville/mesh/ui/connections/ConnectionsScreen.kt
  app/src/main/java/com/geeksville/mesh/ui/connections/components/BLEDevices.kt
  core/strings/src/main/res/values/strings.xml
Labels: enhancement, ui

#3299 New Crowdin updates
  core/strings/src/main/res/values-ar-rSA/strings.xml
  core/strings/src/main/res/values-b+sr+Latn/strings.xml
  core/strings/src/main/res/values-bg-rBG/strings.xml
  core/strings/src/main/res/values-ca-rES/strings.xml
  core/strings/src/main/res/values-cs-rCZ/strings.xml
  core/strings/src/main/res/values-de-rDE/strings.xml
  core/strings/src/main/res/values-el-rGR/strings.xml
  core/strings/src/main/res/values-es-rES/strings.xml
  core/strings/src/main/res/values-et-rEE/strings.xml
  core/strings/src/main/res/values-fi-rFI/strings.xml
  core/strings/src/main/res/values-fr-rFR/strings.xml
  core/strings/src/main/res/values-ga-rIE/strings.xml
  core/strings/src/main/res/values-gl-rES/strings.xml
  core/strings/src/main/res/values-hr-rHR/strings.xml
  core/strings/src/main/res/values-ht-rHT/strings.xml
  core/strings/src/main/res/values-hu-rHU/strings.xml
  core/strings/src/main/res/values-is-rIS/strings.xml
  core/strings/src/main/res/values-it-rIT/strings.xml
  core/strings/src/main/res/values-iw-rIL/strings.xml
  core/strings/src/main/res/values-ja-rJP/strings.xml
  core/strings/src/main/res/values-ko-rKR/strings.xml
  core/strings/src/main/res/values-lt-rLT/strings.xml
  core/strings/src/main/res/values-nl-rNL/strings.xml
  core/strings/src/main/res/values-no-rNO/strings.xml
  core/strings/src/main/res/values-pl-rPL/strings.xml
  core/strings/src/main/res/values-pt-rBR/strings.xml
  core/strings/src/main/res/values-pt-rPT/strings.xml
  core/strings/src/main/res/values-ro-rRO/strings.xml
  core/strings/src/main/res/values-ru-rRU/strings.xml
  core/strings/src/main/res/values-sk-rSK/strings.xml
  core/strings/src/main/res/values-sl-rSI/strings.xml
  core/strings/src/main/res/values-sq-rAL/strings.xml
  core/strings/src/main/res/values-srp/strings.xml
  core/strings/src/main/res/values-sv-rSE/strings.xml
  core/strings/src/main/res/values-tr-rTR/strings.xml
  core/strings/src/main/res/values-uk-rUA/strings.xml
  core/strings/src/main/res/values-zh-rCN/strings.xml
  core/strings/src/main/res/values-zh-rTW/strings.xml
Labels: l10n, automation

#3303 New Crowdin updates
  core/strings/src/main/res/values-et-rEE/strings.xml
  core/strings/src/main/res/values-fi-rFI/strings.xml
Labels: l10n, automation

#3302 Fix shared contact deeplink
  app/detekt-baseline.xml
  app/src/main/java/com/geeksville/mesh/MainActivity.kt
  app/src/main/java/com/geeksville/mesh/model/UIState.kt
  app/src/main/java/com/geeksville/mesh/ui/Main.kt
  app/src/main/java/com/geeksville/mesh/ui/node/NodeListScreen.kt
  app/src/main/java/com/geeksville/mesh/ui/sharing/ContactSharing.kt
  app/src/main/java/com/geeksville/mesh/ui/sharing/SharedContactDialog.kt
  app/src/main/java/com/geeksville/mesh/ui/sharing/SharedContactViewModel.kt
  core/strings/src/main/res/values/strings.xml
  feature/node/detekt-baseline.xml
  feature/node/src/main/kotlin/org/meshtastic/feature/node/list/NodeListViewModel.kt
Labels: bugfix

#3306 New Crowdin updates
  core/strings/src/main/res/values-ar-rSA/strings.xml
  core/strings/src/main/res/values-b+sr+Latn/strings.xml
  core/strings/src/main/res/values-bg-rBG/strings.xml
  core/strings/src/main/res/values-ca-rES/strings.xml
  core/strings/src/main/res/values-cs-rCZ/strings.xml
  core/strings/src/main/res/values-de-rDE/strings.xml
  core/strings/src/main/res/values-el-rGR/strings.xml
  core/strings/src/main/res/values-es-rES/strings.xml
  core/strings/src/main/res/values-et-rEE/strings.xml
  core/strings/src/main/res/values-fi-rFI/strings.xml
  core/strings/src/main/res/values-fr-rFR/strings.xml
  core/strings/src/main/res/values-ga-rIE/strings.xml
  core/strings/src/main/res/values-gl-rES/strings.xml
  core/strings/src/main/res/values-hr-rHR/strings.xml
  core/strings/src/main/res/values-ht-rHT/strings.xml
  core/strings/src/main/res/values-hu-rHU/strings.xml
  core/strings/src/main/res/values-is-rIS/strings.xml
  core/strings/src/main/res/values-it-rIT/strings.xml
  core/strings/src/main/res/values-iw-rIL/strings.xml
  core/strings/src/main/res/values-ja-rJP/strings.xml
  core/strings/src/main/res/values-ko-rKR/strings.xml
  core/strings/src/main/res/values-lt-rLT/strings.xml
  core/strings/src/main/res/values-nl-rNL/strings.xml
  core/strings/src/main/res/values-no-rNO/strings.xml
  core/strings/src/main/res/values-pl-rPL/strings.xml
  core/strings/src/main/res/values-pt-rBR/strings.xml
  core/strings/src/main/res/values-pt-rPT/strings.xml
  core/strings/src/main/res/values-ro-rRO/strings.xml
  core/strings/src/main/res/values-ru-rRU/strings.xml
  core/strings/src/main/res/values-sk-rSK/strings.xml
  core/strings/src/main/res/values-sl-rSI/strings.xml
  core/strings/src/main/res/values-sq-rAL/strings.xml
  core/strings/src/main/res/values-srp/strings.xml
  core/strings/src/main/res/values-sv-rSE/strings.xml
  core/strings/src/main/res/values-tr-rTR/strings.xml
  core/strings/src/main/res/values-uk-rUA/strings.xml
  core/strings/src/main/res/values-zh-rCN/strings.xml
  core/strings/src/main/res/values-zh-rTW/strings.xml
Labels: l10n, automation

#3311 ci(workflows): configure git user for release workflows
  .github/workflows/create-internal-release.yml
  .github/workflows/promote-release.yml
Labels: bugfix

#3314 ci(github-actions): move release environment to correct workflow
  .github/workflows/create-internal-release.yml
  .github/workflows/promote-release.yml
  .github/workflows/release.yml
Labels: bugfix

#3320 ci(release): check for existing versionCode on Google Play before build
  .github/workflows/release.yml
Labels: ci

#3321 ci(promote-release): enhance stage promotion logic
  .github/workflows/promote-release.yml
Labels: ci

#3325 Revert
  .github/workflows/create-internal-release.yml
  .github/workflows/promote-release.yml
  .github/workflows/release.yml
  RELEASE_PROCESS.md
  app/build.gradle.kts
  core/analytics/src/google/kotlin/org/meshtastic/core/analytics/platform/GooglePlatformAnalytics.kt
  fastlane/Fastfile
Labels: bugfix

#3327 New Crowdin updates
  core/strings/src/main/res/values-et-rEE/strings.xml
Labels: l10n, automation

#3333 feat(workflow): update permissions for release workflow
  .github/workflows/create-or-promote-release.yml
Labels: ci

#3337 Refactor build steps to check channel input
  .github/workflows/release.yml
Labels: bugfix

#3340 ci: Add environment specification for promote-release job
  .github/workflows/promote.yml
Labels: ci

#3341 fix(ci): replace build lanes
  fastlane/Fastfile
Labels: ci, repo

#3343 ci(release): include version code in GitHub release name
  .github/workflows/promote.yml
  .github/workflows/release.yml
Labels: ci, automation, bugfix

#3344 fix(promote): update track name from 'alpha' to 'newAlpha'
  .github/workflows/promote.yml
Labels: ci, bugfix

#3345 ci(release): correct case for 'NewAlpha' track in Play Store promotion
  .github/workflows/promote.yml
Labels: bugfix

#3346 feat(ci): add post-release cleanup workflow
  .github/workflows/post-release-cleanup.yml
Labels: enhancement, ci

#3347 New Crowdin updates
  core/strings/src/main/res/values-bg-rBG/strings.xml
Labels: l10n, automation

#3349 fix(ci): update draft release query to use tagName instead of url
  .github/workflows/post-release-cleanup.yml
Labels: ci, bugfix

#3350 New Crowdin updates
  core/strings/src/main/res/values-be-rBY/strings.xml
Labels: l10n, automation

#3351 New Crowdin updates
  core/strings/src/main/res/values-be-rBY/strings.xml
  core/strings/src/main/res/values-fr-rFR/strings.xml
  core/strings/src/main/res/values-ja-rJP/strings.xml
Labels: l10n, automation

#3358 Inject `PlatformAnalytics` directly
  app/detekt-baseline.xml
  app/src/main/java/com/geeksville/mesh/MeshUtilApplication.kt
  app/src/main/java/com/geeksville/mesh/model/UIState.kt
  app/src/main/java/com/geeksville/mesh/repository/radio/RadioInterfaceService.kt
  app/src/main/java/com/geeksville/mesh/ui/Main.kt
  app/src/main/java/com/geeksville/mesh/ui/sharing/Channel.kt
  app/src/main/java/com/geeksville/mesh/ui/sharing/ChannelViewModel.kt
Labels: enhancement

#3363 feat: Add contentColor parameter to info components
  core/ui/src/main/kotlin/org/meshtastic/core/ui/component/LoraSignalIndicator.kt
  core/ui/src/main/kotlin/org/meshtastic/core/ui/component/MaterialBatteryInfo.kt
  core/ui/src/main/kotlin/org/meshtastic/core/ui/component/SignalInfo.kt
  feature/node/src/main/kotlin/org/meshtastic/feature/node/component/DistanceInfo.kt
  feature/node/src/main/kotlin/org/meshtastic/feature/node/component/ElevationInfo.kt
  feature/node/src/main/kotlin/org/meshtastic/feature/node/component/IconInfo.kt
  feature/node/src/main/kotlin/org/meshtastic/feature/node/component/LastHeardInfo.kt
  feature/node/src/main/kotlin/org/meshtastic/feature/node/component/NodeItem.kt
  feature/node/src/main/kotlin/org/meshtastic/feature/node/component/SatelliteCountInfo.kt
Labels: bugfix

#3365 Remove unused dependencies in `:app`
  app/build.gradle.kts
  build-logic/convention/build.gradle.kts
  build-logic/convention/src/main/kotlin/AndroidApplicationConventionPlugin.kt
  build-logic/convention/src/main/kotlin/AndroidApplicationDatadogConventionPlugin.kt
  build-logic/convention/src/main/kotlin/AndroidApplicationFirebaseConventionPlugin.kt
  build-logic/convention/src/main/kotlin/AndroidApplicationFlavorsConventionPlugin.kt
  build-logic/convention/src/main/kotlin/HiltConventionPlugin.kt
  build-logic/convention/src/main/kotlin/com/geeksville/mesh/buildlogic/AndroidCompose.kt
  build.gradle.kts
  core/analytics/build.gradle.kts
  core/ui/build.gradle.kts
  feature/intro/build.gradle.kts
  feature/map/build.gradle.kts
  feature/node/build.gradle.kts
  feature/settings/build.gradle.kts
  gradle/libs.versions.toml
  mesh_service_example/src/androidTest/kotlin/com/meshtastic/android/meshserviceexample/ExampleInstrumentedTest.kt
  mesh_service_example/src/test/kotlin/com/meshtastic/android/meshserviceexample/ExampleUnitTest.kt
Labels: enhancement

#3366 ci: Use `tag_name` input in release and promote workflows
  .github/workflows/promote.yml
  .github/workflows/release.yml
Labels: ci, bugfix

#3367 chore: Update VERSION_NAME_BASE to 2.7.3
  config.properties
Labels: repo, release

#3371 Fix google build
  app/build.gradle.kts
Labels: bugfix

#3381 Remove unused `:core:analytics` dependencies
  app/build.gradle.kts
  app/src/main/java/com/geeksville/mesh/model/UIState.kt
  app/src/main/java/com/geeksville/mesh/ui/Main.kt
  build-logic/convention/src/main/kotlin/AndroidLibraryConventionPlugin.kt
  build-logic/convention/src/main/kotlin/com/geeksville/mesh/buildlogic/AndroidCompose.kt
  core/analytics/build.gradle.kts
  core/analytics/src/fdroid/kotlin/org/meshtastic/core/analytics/platform/FdroidPlatformAnalytics.kt
  core/analytics/src/google/kotlin/org/meshtastic/core/analytics/platform/GooglePlatformAnalytics.kt
  core/analytics/src/main/kotlin/org/meshtastic/core/analytics/platform/PlatformAnalytics.kt
  core/model/build.gradle.kts
  core/ui/build.gradle.kts
  feature/map/build.gradle.kts
  feature/settings/build.gradle.kts
  gradle/libs.versions.toml
Labels: enhancement, dependencies

#3382 feat(ui): Refactor node position details into separate section
  app/build.gradle.kts
  app/src/main/java/com/geeksville/mesh/model/EnvironmentMetricsState.kt
  app/src/main/java/com/geeksville/mesh/model/MetricsViewModel.kt
  app/src/main/java/com/geeksville/mesh/ui/metrics/DeviceMetrics.kt
  app/src/main/java/com/geeksville/mesh/ui/metrics/EnvironmentCharts.kt
  app/src/main/java/com/geeksville/mesh/ui/metrics/EnvironmentMetrics.kt
  app/src/main/java/com/geeksville/mesh/ui/metrics/PaxMetrics.kt
  app/src/main/java/com/geeksville/mesh/ui/metrics/PowerMetrics.kt
  app/src/main/java/com/geeksville/mesh/ui/metrics/SignalMetrics.kt
  app/src/main/java/com/geeksville/mesh/ui/node/NodeDetailList.kt
  app/src/main/java/com/geeksville/mesh/ui/node/NodeDetailScreen.kt
  core/ui/src/main/kotlin/org/meshtastic/core/ui/component/SettingsItem.kt
  feature/map/src/google/kotlin/org/meshtastic/feature/map/component/CustomMapLayersSheet.kt
  feature/node/build.gradle.kts
  feature/node/src/fdroid/kotlin/org/meshtastic/feature/node/component/InlineMap.kt
  feature/node/src/google/kotlin/org/meshtastic/feature/node/component/InlineMap.kt
  feature/node/src/main/kotlin/org/meshtastic/feature/node/component/AdministrationSection.kt
  feature/node/src/main/kotlin/org/meshtastic/feature/node/component/DeviceActions.kt
  feature/node/src/main/kotlin/org/meshtastic/feature/node/component/DeviceDetailsSection.kt
  feature/node/src/main/kotlin/org/meshtastic/feature/node/component/EnvironmentMetrics.kt
  feature/node/src/main/kotlin/org/meshtastic/feature/node/component/FirmwareReleaseSheetContent.kt
  feature/node/src/main/kotlin/org/meshtastic/feature/node/component/InfoCard.kt
  feature/node/src/main/kotlin/org/meshtastic/feature/node/component/InfoCardPreview.kt
  feature/node/src/main/kotlin/org/meshtastic/feature/node/component/LinkedCoordinates.kt
  feature/node/src/main/kotlin/org/meshtastic/feature/node/component/MetricsSection.kt
  feature/node/src/main/kotlin/org/meshtastic/feature/node/component/NodeDetailsSection.kt
  feature/node/src/main/kotlin/org/meshtastic/feature/node/component/NotesSection.kt
  feature/node/src/main/kotlin/org/meshtastic/feature/node/component/PositionSection.kt
  feature/node/src/main/kotlin/org/meshtastic/feature/node/component/PowerMetrics.kt
  feature/node/src/main/kotlin/org/meshtastic/feature/node/component/RemoteDeviceActions.kt
  feature/node/src/main/kotlin/org/meshtastic/feature/node/model/IsEffectivelyUnmessageable.kt
  feature/node/src/main/kotlin/org/meshtastic/feature/node/model/LogsType.kt
  feature/node/src/main/kotlin/org/meshtastic/feature/node/model/MetricInfo.kt
  feature/node/src/main/kotlin/org/meshtastic/feature/node/model/MetricsState.kt
  feature/node/src/main/kotlin/org/meshtastic/feature/node/model/NodeDetailAction.kt
  feature/node/src/main/res/drawable/hw_unknown.xml
  feature/node/src/main/res/drawable/ic_filled_radioactive_24.xml
  feature/node/src/main/res/drawable/ic_outlined_dew_point_24.xml
  feature/node/src/main/res/drawable/soil_moisture.xml
  feature/node/src/main/res/drawable/soil_temperature.xml
  feature/node/src/main/res/drawable/unverified.xml
  feature/settings/src/main/kotlin/org/meshtastic/feature/settings/radio/component/MapReportingPreference.kt
Labels: enhancement

#3391 fix: Change fallback node name format
  app/src/main/java/com/geeksville/mesh/model/MetricsViewModel.kt
  core/strings/src/main/res/values/strings.xml
Labels: bugfix

#3398 ci(github-actions): Check for null tagName in post-release-cleanup
  .github/workflows/post-release-cleanup.yml
Labels: ci, bugfix

#3400 feat(node): Always show exchange position action
  feature/node/src/main/kotlin/org/meshtastic/feature/node/component/PositionSection.kt
Labels: bugfix
